<configuration>
    <!-- Configura el nivel de logueo global a INFO -->
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- Reduce el nivel de logueo de Ktor a WARN para minimizar la salida -->
    <logger name="io.ktor" level="warn"/>

    <!-- Configuración del appender de consola -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
</configuration>
